{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="float-end">
                <button type="submit" form="form-spectrocoin" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
            <h1><{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>


            <div class="panel-body flex-container">

                <div class = "flex-left">

                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-spectrocoin" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="entry_title">{{ entry_title }}</label>
                        <input type="text" name="payment_spectrocoin_title" value="{{ text_default_title }}" class="form-control" />
                    </div>

                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="entry_project">{{ entry_project }}</label>
                        <input type="text" name="payment_spectrocoin_project" value="{{ payment_spectrocoin_project }}" class="form-control" />
                    </div>

                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="entry_client_id">{{ entry_client_id }}</label>
                        <input type="text" name="payment_client_id" value="{{ payment_client_id }}" class="form-control" />
                    </div>

                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="entry_client_secret">{{ entry_client_secret }}</label>
                        <input type="text" name="payment_client_secret" value="{{ payment_client_secret }}" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="entry_status">{{ entry_status }}</label>
                        <div class="form-check form-switch">
                            <input id = "status-switch" type="checkbox" name="payment_spectrocoin_status" class="form-check-input" value="1" {% if payment_spectrocoin_status == 1 %}checked="checked"{% endif %}>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                        <input type="text" name="payment_spectrocoin_sort_order" value="{{ payment_spectrocoin_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                    </div>
                </form>
                </div>
                <div class = "flex-right">
                    <div class = "white-card">
                        <a class = "spectrocoin-logo-link" target="_blank" href="http://www.spectrocoin.com"><img class = "spectrocoin-logo" src="view/image/payment/spectrocoin-logo.svg" alt="SpectroCoin" title="SpectroCoin" /></a>
                        <h4>{{ info_heading }}</h4>

                        <p>{{info_desc}}</p>

                        <ul>
                            <li>{{info_step_1}}</li>
                            <li>{{info_step_2}}</li>
                            <li>{{info_step_3}}</li>
                            <li>{{info_step_4}}</li>
                            <li>{{info_step_5}}</li>
                            <li>{{info_step_6}}</li>
                            <li>{{info_step_7}}</li>
                            <li>{{info_step_8}}</li>
                            <li>{{info_step_9}}</li>
                            <li>{{info_step_10}}</li>
                        </ul>
                        
                        <p>{{info_note}}</p>
                    
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<?php echo $footer; ?>