<!DOCTYPE html>
<html>
   <head>
      <title>SpectroCoin: error</title>
      <link rel="stylesheet" href="{{css_path}}" type="text/css" />
        
   </head>
   <body>
      <div class="container">
         <div class="content_container">
            <div class="header_container">
               <h3>Error: {{error_code}} {{error_message}}</h3>
            </div>
            <div class="content_content">
               <div class="form_body">
                  {% if error_causes %}
                  <div class = "form_content possible_cause">
                     <span class = "form-header">Possible causes:</span>
                     <ul class = "form-causes-list">
                     {{error_causes}}
                     </ul>
                     <span class = "form-text"></span>
                  </div>
                  {% endif %}
                  <a href = {{shop_link}} ><button>Return to shop</button></a>
               </div>
            </div>
            <div class="footer_container">
               <div class="footer_link">
                  <a href = "mailto:merchant@spectrocoin.com">Contact support</a>
               </div>
            </div>
         </div>
      </div>
   </body>
   <script src="{{ js_path }}"></script>
</html>
